
body {
	margin: 0;
}

p {
	border: 1px solid blue;
}

h1,
h2,
h3 {
	border: 1px solid blue;
}

/*Header Section*/

header {
	width: 100%;
	height: 80px;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
}

.logo {
	width: 10%;
	display: flex;
	flex-grow: 1;
	align-items: center;
	padding-left: 30px;
}

.logo img {
	margin-right: 12px;

}

.logo span {
	
	color: MediumAquamarine;

}

nav {
	display: flex;
	align-items: center;
	padding-right: 15px;

}

nav span {
	display: inline-block;
	padding-right: 40px;
}

nav span a {
	color: black;
}

/*Main content section*/

.container {
	width: 70%;
	margin: 0 auto;
	display: flex;
	border: 1px solid black;
}

.columnbig {
	width: 630px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-right: 35px;


}	

.columnmedium {
	width: 300px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-right: 35px;
}

.columnsmall {
	width: 240px;
	display: flex;
	border: 1px solid black;
	margin-right: 35px;
}

.columnbig div {
	border: 1px solid black;
}

.columnmedium div {
	border: 1px solid black;
}

.columnsmall div {
	border: 1px solid black;
}



